body {
    background-color: rgba(0, 0, 0, 0.93);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.centered-text {
    text-align: center;
}

h1 {
    font-family: 'Caveat', cursive;
    font-weight: bold;
    font-size: 120px;
    color: white;
    margin: 0;
    padding: 0;
}

#prevMonth, #nextMonth {
    background-color: transparent;
    font-family: 'Caveat', cursive;
    color: white;
    font-size: 20px;
    padding: 10px;
    border: 0.0px solid white;
    border-radius: 15px; /* Increased border-radius for more rounded corners */
    cursor: pointer;
}

#prevMonth:hover, #nextMonth:hover {
    background-color: rgba(255, 255, 255, 0.1); /* White with 70% transparency on hover */
    color: white; /* Change text color on hover */
}

